<div class="content">
	<h1>All posts of {{club}}</h1>
	<form action="/posts/create/{{club}}" method="GET">
		<input class="button is-success" type="submit" value="Create a new post">
	</form>
	{{#if errors.length}}
	<p>Oh no, something went wrong:</p>
	<ul>
		{{#each errors}}
		<li>{{this}}</li>
		{{/each}}
	</ul>
	{{else}}

	{{#if posts.length}}
		{{#each posts}}
		<a href="/posts/{{club}}/{{title}}">
			<div class="card">
				<div class="card-content" id="showAll">
					<p class="title">{{title}}</p>
					<p class="subtitle">{{content}}</p>
				</div>
			</div>
		</a>
		{{/each}}
		{{else}}
			<p>No posts exist yet.</p>
		{{/if}}

	{{/if}}
</div>